In [1]:
import pandas as pd
import numpy as np

In [6]:
boston_df = pd.read_csv('Datasets/BostonHousing.csv')
boston_df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [7]:
boston_df.shape

(506, 14)

### Creating random Dataframe using Panda

In [8]:
random_df = pd.DataFrame(np.random.rand(20, 10))
random_df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.263345,0.110500,0.493431,0.996701,0.728434,0.855741,0.026681,0.333947,0.542188,0.778278
1,0.403533,0.281048,0.167650,0.874855,0.291917,0.879363,0.493353,0.929068,0.258346,0.119565
2,0.753303,0.187798,0.337630,0.417988,0.953849,0.825667,0.025696,0.999704,0.644745,0.188511
3,0.341644,0.926911,0.689330,0.180330,0.271060,0.470524,0.253966,0.230409,0.691960,0.011194
4,0.956852,0.051777,0.632163,0.284976,0.347675,0.452817,0.816688,0.847546,0.755840,0.998460

### Reading excel files

In [ ]:
pd.read_excel('file path')

### Exporting Dataframe to csv or excel file

In [ ]:
boston_df.to_csv('boston.csv')

boston_df.to_excel('boston')

### Inspecting DataFrames

In [14]:
# Finding the rows and column
boston_df.shape

# Printing first 5 rows of the dataframe
print(boston_df.head())

      crim    zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        b  lstat  medv
0  396.90   4.98  24.0
1  396.90   9.14  21.6
2  392.83   4.03  34.7
3  394.63   2.94  33.4
4  396.90   5.33  36.2

In [15]:
# Printing Last 5 rows of the dataframe
print(boston_df.tail())

        crim   zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
501  0.06263  0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273     21.0
502  0.04527  0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273     21.0
503  0.06076  0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273     21.0
504  0.10959  0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273     21.0
505  0.04741  0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273     21.0

          b  lstat  medv
501  391.99   9.67  22.4
502  396.90   9.08  20.6
503  396.90   5.64  23.9
504  393.45   6.48  22.0
505  396.90   7.88  11.9

In [16]:
# Certain information about dataframes
boston_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  b        506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [17]:
# Finding the missing values of each column
boston_df.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

In [24]:
# Count the number of values in each column.
boston_df.count()

crim       506
zn         506
indus      506
chas       506
nox        506
rm         506
age        506
dis        506
rad        506
tax        506
ptratio    506
b          506
lstat      506
medv       506
dtype: int64

## Calculations

In [18]:
diabetes_df = pd.read_csv('Datasets/diabetes.csv')
diabetes_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [20]:
# Couting the values based on the label
outcomes = diabetes_df.value_counts('Outcomes')
outcomes

Pregnancies
1     135
0     111
2     103
3      75
4      68
5      57
6      50
7      45
8      38
9      28
10     24
11     11
13     10
12      9
14      2
15      1
17      1
Name: count, dtype: int64

In [23]:
# Group the values based on the mean
grouping =  diabetes_df.groupby('Outcome').mean()
grouping

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [26]:
# Finding the MEAN values for each column
boston_df.mean()

crim         3.613524
zn          11.363636
indus       11.136779
chas         0.069170
nox          0.554695
rm           6.284634
age         68.574901
dis          3.795043
rad          9.549407
tax        408.237154
ptratio     18.455534
b          356.674032
lstat       12.653063
medv        22.532806
dtype: float64

In [29]:
# Standard Deviation of each column
boston_df.std()

# Minimum value of each column
boston_df.min()

# Maximum value of each column
boston_df.max()

crim        88.9762
zn         100.0000
indus       27.7400
chas         1.0000
nox          0.8710
rm           8.7800
age        100.0000
dis         12.1265
rad         24.0000
tax        711.0000
ptratio     22.0000
b          396.9000
lstat       37.9700
medv        50.0000
dtype: float64

In [30]:
# All statistical data of the dataframe
boston_df.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

### Manipulating datasets

In [49]:
random_df = pd.DataFrame(np.random.rand(10, 10))

# Adding column in the dataframe
random_df[10] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random_df

,0,1,2,3,4,5,6,7,8,9,10
0,0.769842,0.146298,0.378930,0.724764,0.531354,0.293629,0.900788,0.117821,0.796300,0.084941,1
1,0.099785,0.923486,0.705139,0.604326,0.555045,0.844186,0.371649,0.799217,0.603990,0.929082,2
2,0.572247,0.996514,0.723920,0.059508,0.089380,0.797389,0.964034,0.554680,0.310810,0.144482,3
3,0.747522,0.803106,0.910293,0.396127,0.398401,0.035527,0.529792,0.701091,0.408780,0.041961,4
4,0.333473,0.994952,0.198653,0.014328,0.022416,0.638971,0.997131,0.334077,0.688978,0.993259,5
5,0.081011,0.859145,0.558252,0.458259,0.788189,0.573582,0.346534,0.956574,0.375913,0.754767,6
6,0.645454,0.771234,0.018388,0.367007,0.163402,0.333348,0.130588,0.903826,0.604704,0.276845,7
7,0.791761,0.608443,0.639570,0.014737,0.844255,0.974645,0.558870,0.044118,0.990608,0.678471,8
8,0.624579,0.758535,0.012436,0.726458,0.720639,0.050485,0.016869,0.176746,0.551087,0.435478,9
9,0.697809,0.363778,0.864307,0.541489,0.875072,0.142524,0.609115,0.072006,0.789036,0.107168,10

In [50]:
# Removing the row ---> make axis = 0
random_df.drop(index=0, axis=0)

,0,1,2,3,4,5,6,7,8,9,10
1,0.099785,0.923486,0.705139,0.604326,0.555045,0.844186,0.371649,0.799217,0.603990,0.929082,2
2,0.572247,0.996514,0.723920,0.059508,0.089380,0.797389,0.964034,0.554680,0.310810,0.144482,3
3,0.747522,0.803106,0.910293,0.396127,0.398401,0.035527,0.529792,0.701091,0.408780,0.041961,4
4,0.333473,0.994952,0.198653,0.014328,0.022416,0.638971,0.997131,0.334077,0.688978,0.993259,5
5,0.081011,0.859145,0.558252,0.458259,0.788189,0.573582,0.346534,0.956574,0.375913,0.754767,6
6,0.645454,0.771234,0.018388,0.367007,0.163402,0.333348,0.130588,0.903826,0.604704,0.276845,7
7,0.791761,0.608443,0.639570,0.014737,0.844255,0.974645,0.558870,0.044118,0.990608,0.678471,8
8,0.624579,0.758535,0.012436,0.726458,0.720639,0.050485,0.016869,0.176746,0.551087,0.435478,9
9,0.697809,0.363778,0.864307,0.541489,0.875072,0.142524,0.609115,0.072006,0.789036,0.107168,10

In [51]:
# Removing the column ---> make axis = 1
random_df.drop(columns=10, axis=1)

,0,1,2,3,4,5,6,7,8,9
0,0.769842,0.146298,0.378930,0.724764,0.531354,0.293629,0.900788,0.117821,0.796300,0.084941
1,0.099785,0.923486,0.705139,0.604326,0.555045,0.844186,0.371649,0.799217,0.603990,0.929082
2,0.572247,0.996514,0.723920,0.059508,0.089380,0.797389,0.964034,0.554680,0.310810,0.144482
3,0.747522,0.803106,0.910293,0.396127,0.398401,0.035527,0.529792,0.701091,0.408780,0.041961
4,0.333473,0.994952,0.198653,0.014328,0.022416,0.638971,0.997131,0.334077,0.688978,0.993259
5,0.081011,0.859145,0.558252,0.458259,0.788189,0.573582,0.346534,0.956574,0.375913,0.754767
6,0.645454,0.771234,0.018388,0.367007,0.163402,0.333348,0.130588,0.903826,0.604704,0.276845
7,0.791761,0.608443,0.639570,0.014737,0.844255,0.974645,0.558870,0.044118,0.990608,0.678471
8,0.624579,0.758535,0.012436,0.726458,0.720639,0.050485,0.016869,0.176746,0.551087,0.435478
9,0.697809,0.363778,0.864307,0.541489,0.875072,0.142524,0.609115,0.072006,0.789036,0.107168

In [52]:
# Locating the row using index
random_df.iloc[2]

0     0.572247
1     0.996514
2     0.723920
3     0.059508
4     0.089380
5     0.797389
6     0.964034
7     0.554680
8     0.310810
9     0.144482
10    3.000000
Name: 2, dtype: float64

In [60]:
# locating the column 
print(random_df.iloc[:,0])
print(random_df.iloc[:,1])
print(random_df.iloc[:,2])
print(random_df.iloc[:,-1])

0    0.769842
1    0.099785
2    0.572247
3    0.747522
4    0.333473
5    0.081011
6    0.645454
7    0.791761
8    0.624579
9    0.697809
Name: 0, dtype: float64
0    0.146298
1    0.923486
2    0.996514
3    0.803106
4    0.994952
5    0.859145
6    0.771234
7    0.608443
8    0.758535
9    0.363778
Name: 1, dtype: float64
0    0.378930
1    0.705139
2    0.723920
3    0.910293
4    0.198653
5    0.558252
6    0.018388
7    0.639570
8    0.012436
9    0.864307
Name: 2, dtype: float64
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: 10, dtype: int64

## Correlation
- Positive Correlation
- Negative Correlation

In [61]:
boston_df.corr()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
crim,1.000000,-0.200469,0.406583,-0.055892,0.420972,-0.219247,0.352734,-0.379670,0.625505,0.582764,0.289946,-0.385064,0.455621,-0.388305
zn,-0.200469,1.000000,-0.533828,-0.042697,-0.516604,0.311991,-0.569537,0.664408,-0.311948,-0.314563,-0.391679,0.175520,-0.412995,0.360445
indus,0.406583,-0.533828,1.000000,0.062938,0.763651,-0.391676,0.644779,-0.708027,0.595129,0.720760,0.383248,-0.356977,0.603800,-0.483725
chas,-0.055892,-0.042697,0.062938,1.000000,0.091203,0.091251,0.086518,-0.099176,-0.007368,-0.035587,-0.121515,0.048788,-0.053929,0.175260
nox,0.420972,-0.516604,0.763651,0.091203,1.000000,-0.302188,0.731470,-0.769230,0.611441,0.668023,0.188933,-0.380051,0.590879,-0.427321
rm,-0.219247,0.311991,-0.391676,0.091251,-0.302188,1.000000,-0.240265,0.205246,-0.209847,-0.292048,-0.355501,0.128069,-0.613808,0.695360
age,0.352734,-0.569537,0.644779,0.086518,0.731470,-0.240265,1.000000,-0.747881,0.456022,0.506456,0.261515,-0.273534,0.602339,-0.376955
dis,-0.379670,0.664408,-0.708027,-0.099176,-0.769230,0.205246,-0.747881,1.000000,-0.494588,-0.534432,-0.232471,0.291512,-0.496996,0.249929
rad,0.625505,-0.311948,0.595129,-0.007368,0.611441,-0.209847,0.456022,-0.494588,1.000000,0.910228,0.464741,-0.444413,0.488676,-0.381626
tax,0.582764,-0.314563,0.720760,-0.035587,0.668023,-0.292048,0.506456,-0.534432,0.910228,1.000000,0.460853,-0.441808,0.543993,-0.468536
ptratio,0.289946,-0.391679,0.383248,-0.121515,0.188933,-0.355501,0.261515,-0.232471,0.464741,0.460853,1.000000,-0.177383,0.374044,-0.507787
b,-0.385064,0.175520,-0.356977,0.048788,-0.380051,0.128069,-0.273534,0.291512,-0.444413,-0.441808,-0.177383,1.000000,-0.366087,0.333461
lstat,0.455621,-0.412995,0.603800,-0.053929,0.590879,-0.613808,0.602339,-0.496996,0.488676,0.543993,0.374044,-0.366087,1.000000,-0.737663
medv,-0.388305,0.360445,-0.483725,0.175260,-0.427321,0.695360,-0.376955,0.249929,-0.381626,-0.468536,-0.507787,0.333461,-0.737663,1.000000